*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background:rgb(228, 227, 227) ;
}
.container{
    width:95%;
    margin:auto;
}
#taskContainer{
    /* display:none;  */
    /* display:flex; */
    position:relative;
}

#submitBtn
{
    position:relative;
}

#addBtn {
    padding: 8px 15px;
    margin-bottom: 10px;
  }